.footer {
    background-color: $black;
    padding: 38px 0 47px;

    @include breakpoint-mf('md') {
        padding: 57px 0 56px;
    }

    @include breakpoint-mf ('lg') {
        padding: 66px 0 70px;
    }

    .container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        flex-direction: column;
    }

    &__title {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 14px;
        line-height: 22px;
        color: $white;
        padding: 0 0 8px;

        @include breakpoint-mf ('md') {
            font-size: 16px;
            padding: 0 0 22px;
        }
    }

    &__text {
        font-weight: 400;
        font-size: 12px;
        line-height: 20px;
        color: $grey;
        text-align: center;
        padding: 0 0 26px;
        max-width: 303px;

        @include breakpoint-mf('md') {
            display: none;
        }
    }

    &__text-laptop {
        display: none;
        @extend .footer__text;
        font-size: 16px;
        line-height: 28px;
        padding: 0 0 37px;
        max-width: 684px;

        @include breakpoint-mf('md') {
            display: block;
        }
    }

    &__nav-holder {
        display: flex;
        flex-wrap: wrap;
        padding: 0 0 25px;

        @include breakpoint-mf ('md') {
            padding: 0 0 34px;
        }
    }

    &__nav-item {
        cursor: pointer;
        padding: 0 6px 0 0;

        &:last-child {
            padding: 0;
        }
    }

    &__nav-image {
        width: 34px;
        height: 34px;
    }

    &__address-holder {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;

        @include breakpoint-mf('md') {
            flex-direction: row;
            justify-content: space-between;
        }
    }

    &__address-link {
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        color: $grey;

        &--line {
            &::after {
                content: '/';
                padding: 0 12px;
            }
        }
    }
}