.header {
    position: relative;
    padding: 23px 0 0;

    @include breakpoint-mf ('md') {
        padding: 41px 0 0;
    }

    @include breakpoint-mf ('lg') {
        padding: 45px 0 0;
    }

    &__nav {
        display: flex;
        justify-content: flex-end;

        @include breakpoint-mf ('md') {
            justify-content: center;
        }
    }

    &__nav-btn {
        background-color: #000;
        width: 44px;
        height: 37px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border: none;

        @include breakpoint-mf ('md') {
            display: none;
        }
    }

    &__btn-line {
        display: block;
        width: 17px;
        height: 2px;
        background-color: $white;
        transition: all ease-in-out 0.3s;

        &::after {
            position: absolute;
            content: '';
            left: 50%;
            transform: translateX(-50%);
            top: 11px;
            @extend .header__btn-line;
        }

        &::before {
            position: absolute;
            content: '';
            left: 50%;
            transform: translateX(-50%);
            bottom: 11px;
            @extend .header__btn-line;
        }

        &--active {
            transform: rotate(50deg);
            transition: all ease-in-out 0.3s;

            &::before {
                transform: translate(-50%) rotate(79deg);
                bottom: 0;
                transition: all ease-in-out 0.3s;

            }

            &::after {
                display: none;
                // top: 0;
                // transition: all ease-in-out 0.3s;
            }
        }
    }

    &__nav-list {
        display: none;
        position: absolute;
        background-color: $bg-nav;
        width: 182px;

        @include breakpoint-mf ('md') {
            display: flex;
            position: static;
            background-color: $white;
            width: auto;
        }

        &--active {
            display: block;
            top: 60px;

            @include breakpoint-mf ('md') {
                display: flex;
            }
        }
    }

    &__nav-item {
        padding: 4px 0 8px 12px;

        &:hover {
            background-color: $white-dark;

            @include breakpoint-mf ('md') {
                background-color: $white;
            }
        }

        @include breakpoint-mf ('md') {
            padding: 0 34px 0 0;
        }

        @include breakpoint-mf ('lg') {
            padding: 0 68px 0 0;
        }

        &:last-child {
            padding: 0 0 0 12px;

            @include breakpoint-mf ('md') {
                padding: 0;
            }
        }
    }

    &__nav-link {
        font-weight: 400;
        font-size: 11px;
        line-height: 22px;
        color: $black-light;
        text-transform: uppercase;
    }

    .active {
        color: $green;
    }
}