.hero-section {
    padding: 23px 0 38px;

    @include breakpoint-mf ('md') {
        padding: 43px 0 56px;
    }

    @include breakpoint-mf ('lg') {
        padding: 51px 0 66px;
    }

    &__image {
        width: 100%;
        display: block;
    }
}