.instagram-section {
    padding: 38px 0 42px;

    @include breakpoint-mf ('md') {
        padding: 47px 0 50px;
        background-color: $black-rgba;
    }

    &__title-holder {
        @include breakpoint-mf ('md') {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
    }

    &__title {
        font-weight: 700;
        font-size: 14px;
        line-height: 22px;
        color: $black-light;
        padding: 0 0 13px;

        @include breakpoint-mf ('md') {
            font-size: 16px;
            padding: 0 0 35px;
        }

        @include breakpoint-mf ('lg') {
            padding: 0 0 24px;
        }
    }

    &__second-title {
        display: none;
        text-transform: uppercase;
        @extend .instagram-section__title;
        font-size: 13px;

        @include breakpoint-mf ('md') {
            display: block;
        }

        @include breakpoint-mf ('lg') {
            padding: 0 0 24px;
        }
    }

    &__image-holder {
        display: flex;


        @include breakpoint-mf ('md') {
            gap: 10px;
        }
    }

    &__image-item {

        &--tablet {
            display: none;

            @include breakpoint-mf ('md') {
                display: block;
            }
        }

        &--laptop {
            display: none;

            @include breakpoint-mf ('lg') {
                display: block;
            }
        }
    }

    &__image {
        width: 100%;
    }
}