.posts-section {
    padding: 0 0 40px;

    @include breakpoint-mf('md') {
        padding: 0 0 60px;
    }

    @include breakpoint-mf ('lg') {
        padding: 0 0 69px;
    }

    &__title {
        font-weight: 700;
        font-size: 14px;
        line-height: 22px;
        color: $black-light;
        padding: 0 0 23px;
        text-transform: uppercase;

        @include breakpoint-mf ('md') {
            font-size: 16px;
            padding: 0 0 24px;
        }
    }

    &__card-holder {
        display: grid;
        row-gap: 29px;

        @include breakpoint-mf ('md') {
            row-gap: 32px;
        }

        @include breakpoint-mf ('lg') {
            grid-template-columns: repeat(2, 1fr);
            column-gap: 25px;
        }
    }

    &__card {
        @include breakpoint-mf ('md') {
            display: flex;
            flex-wrap: wrap;
            column-gap: 21px;
        }

        &:nth-child(2) {
            @include breakpoint-mf ('lg') {
                grid-column-start: 1;
                grid-column-end: 2;
                grid-row-start: 3;
                grid-row-end: 2;
            }
        }

        &--laptop {
            display: none;
            flex-wrap: wrap;

            @include breakpoint-mf ('md') {
                display: flex;
            }
        }
    }

    &__post-title {
        font-weight: 700;
        font-size: 14px;
        line-height: 30px;
        color: $black-light;

        @include breakpoint-mf ('md') {
            font-size: 16px;
        }
    }

    &__pseudo-title {
        font-weight: 400;
        font-size: 11px;
        line-height: 20px;
        color: $grey-light;

        @include breakpoint-mf ('md') {
            font-size: 12px;
        }
    }

    &__desctiption {
        display: none;
        font-weight: 400;
        font-size: 14px;
        line-height: 26px;
        color: $grey-dark;
        max-width: 376px;
        padding: 13px 0 0;

        @include breakpoint-mf ('md') {
            display: block;
        }
    }
}