<footer class="footer">
    <div class="container">
        <h1 class="footer__title">- get in touch with us -</h1>
        <p class="footer__text">Maecenas faucibus molli interdum. Cras mattis consectetur purus sitor amet sed donec
            malesuada ullamcorper odio. </p>
        <p class="footer__text-laptop">Maecenas faucibus molli interdum. Cras mattis consectetur purus sitor amet sed
            donec malesuada ullamcorper odio. Curabitur blandit tempus porttitor vollisky inceptos mollisestor.</p>
        <ul class="footer__nav-holder">
            <li class="footer__nav-item">
                <a href="#" class="footer__nav-link">
                    <img src="@img/footer/rss.png" alt="rss image" class="footer__nav-image">
                </a>
            </li>
            <li class="footer__nav-item">
                <a href="#" class="footer__nav-link">
                    <img src="@img/footer/facebook.png" alt="facebook image" class="footer__nav-image">
                </a>
            </li>
            <li class="footer__nav-item">
                <a href="#" class="footer__nav-link">
                    <img src="@img/footer/twitter.png" alt="twitter image" class="footer__nav-image">
                </a>
            </li>
            <li class="footer__nav-item">
                <a href="#" class="footer__nav-link">
                    <img src="@img/footer/dribbble.png" alt="dribble image" class="footer__nav-image">
                </a>
            </li>
            <li class="footer__nav-item">
                <a href="#" class="footer__nav-link">
                    <img src="@img/footer/pinterest.png" alt="pinterest image" class="footer__nav-image">
                </a>
            </li>
        </ul>
        <div class="footer__address-holder">
            <a href="https://www.google.com.ua/maps" class="footer__address-link footer__address-link--line"> Moonshine
                St. 14-05 Light City</a>
            <a href="tel:+00(123)4567890" class="footer__address-link footer__address-link--line">T. +00 (123) 456 78
                90</a>
            <a href="mailto:first.last@email.com" class="footer__address-link ">first.last@email.com</a>
        </div>
    </div>

</footer>