<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="@@favicon.svg" type="image/svg+xml">
    <link rel="shortcut icon" href="@@favicon.webp" type="image/webp">
    <link rel="shortcut icon" href="@@favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="./css/style.min.css">
    <title>@@title</title>
</head>