<header class="header">
    <div class="container">
        <nav class="header__nav">
            <button class="header__nav-btn">
                <span class="header__btn-line"></span>
            </button>
            <ul class="header__nav-list">
                <li class="header__nav-item">
                    <a href="#" class="header__nav-link active">Home</a>
                </li>
                <li class="header__nav-item">
                    <a href="#" class="header__nav-link">about us</a>
                </li>
                <li class="header__nav-item">
                    <a href="#" class="header__nav-link">our journal</a>
                </li>
                <li class="header__nav-item">
                    <a href="#" class="header__nav-link">projects</a>
                </li>
                <li class="header__nav-item">
                    <a href="#" class="header__nav-link">news</a>
                </li>
                <li class="header__nav-item">
                    <a href="#" class="header__nav-link">features</a>
                </li>
                <li class="header__nav-item">
                    <a href="#" class="header__nav-link">contact</a>
                </li>
            </ul>
        </nav>
    </div>
</header>