*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    width: 100%;
    max-width: 1210px;
    padding: 0 10px;
    margin: 0 auto;

    @include breakpoint-mf('md') {
        padding: 0 20px;
    }
}