$black: #000000;
$white: #FEFEFE;
$grey: #B9B9B9;
$black-light: #4E4E4E;
$grey-light: #7C7C7C;
$grey-dark: #5C5C5C;
$black-rgba: rgba(0, 0, 0, 0.03);
$green: #57A4A4;
$bg-nav: #F5F5F5;
$white-dark: #E5E5E5